<h2> Olá {{ name }}, </h2>
<p>
  Parece que você solicitou uma recuperação de sua senha, caso queira prosseguir clique no link abaixo:
</p>
<p>
  <a href="{{ resetPasswordUrl }}" target="_blank">Recuperar</a>
</p>
<p>
  Caso não tenha sido vocÊ quem fez a solicitação, favor descartar o e-mail;
</p>
<p>
  <strong>Equipe Brida</strong>
</p>
